.viewer-outer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.viewer-outer .gcode {
  flex-grow: 0.2;
  text-align: left;
  max-height: 200px;
  overflow-y: scroll;
  font-family: monospace;
}

.viewer-outer .viewport {
  flex-grow: 1.0;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 450px;
  border: 1px solid;
  background-color: grey;
  position: relative; 
}
.viewer-outer .viewport .rulers {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.viewer-outer .viewport .rulers > canvas {
  background-color: #fff;
}

.viewer-outer .viewport .rulers > .bottomRuler {
  height: 30px;
}

.viewer-outer .viewport .sideRuler {
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
}